.password-field{
  border: 2px solid black;
  border-radius: 5px;
}
.password-label{
  margin: 10px;
}
.strength-section {
  display: inline-block;
  margin: 5px;
  /*background-colorcolor: lightgray;*/
  width: 60px;
}
.grey{
  background-color: lightgray;
}
.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
.strength-indicator {
  display: flex;
  margin: 10px;
}

