<div>
  <label class="password-label" for="password">Enter Password:</label>
  <input class="password-field" type="password" id="password" [(ngModel)]="password" (input)="updatePasswordStrength()" />
  <div class="strength-indicator">
    <div class="strength-section" [ngClass]="{ 'grey' : isEmpty(), 'red': isSmall()||isEasy(), 'yellow': isMedium(), 'green': isStrong() }">
      Easy
    </div>
    <div class="strength-section" [ngClass]="{'grey' : isEmpty()||isEasy(),  'red': isSmall(),'yellow': isMedium(), 'green': isStrong() }">
      Medium
    </div>
    <div class="strength-section" [ngClass]="{'grey' : isEmpty()||isEasy()||isMedium(), 'red': isSmall(), 'green': isStrong() }">
      Strong
    </div>
  </div>
</div>
